Diagnostics:
  Suppress:
    - pp_hash_error
If:
  PathMatch: .*\.(cu|cuh)$
CompileFlags:
  Add:
    - -x
    - cuda
    - -ferror-limit=0
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code=arch=compute_89,code=[compute_89,sm_89]
    - --expt-extended-lambda
    - -rdc=true
    - -Xptxas
    - --keep
    - --keep-dir*

If:
  PathMatch: \.(cpp|cc|cxx|c|h|hpp)$
CompileFlags:
  Add:
    - -std=c++20
    - -ferror-limit=0
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code=arch=compute_89,code=[compute_89,sm_89]
    - --expt-extended-lambda
    - -Xptxas
    - -x
    - cuda
