# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
build*
.cache
run
Makefile

# ignore all files in position_data not ending in .cpp
out*
perf.data
perf.data.old
performance_test/*
*.bin

.venv
__pycache__
analyser/*.txt
analyser/*.xy
